---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { format } from 'date-fns'
import PostTitle from '@/components/post-title.astro'

const posts = await getCollection('posts')

const links = [
  { name: 'X', url: 'https://x.com/0xhyoban' },
  { name: 'GitHub', url: 'https://github.com/hyoban' },
  { name: 'xLog', url: 'https://hyoban.xlog.app' },
  { name: 'RSS', url: '/rss.xml' },
]
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="container max-w-[65ch] mx-auto px-4 py-8">
    <section class="mb-10 space-y-3">
      <h1>{SITE_TITLE}</h1>
      <p class="opacity-50">{SITE_DESCRIPTION}</p>
    </section>
    <ul class="flex flex-col gap-3">
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.data.slug}`} class="group flex justify-between items-center gap-3">
              <PostTitle title={post.data.title} className="group-hover:underline">
                {post.data.title}
              </PostTitle>
              <span class="text-nowrap opacity-50 font-mono text-sm">{format(post.data.date, 'MM/dd/yyyy')}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <footer class="mt-12 text-center">
    <div class="flex justify-center space-x-4 tracking-tight">
      {
        links.map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-neutral-400 hover:text-blue-500 transition-colors duration-200"
          >
            {link.name}
          </a>
        ))
      }
    </div>
  </footer>
</Layout>
