---
import Footer from '@/components/footer.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getSortedPosts } from '@/utils'
import { format } from 'date-fns'

const posts = await getSortedPosts()
type Post = (typeof posts)[number]
const postsByYear: Array<{ year: string; posts: Post[] }> = []

for (const post of posts) {
  const year = format(post.data.pubDate, 'yyyy')
  const lastGroup = postsByYear[postsByYear.length - 1]

  if (lastGroup?.year === year) {
    lastGroup.posts.push(post)
  } else {
    postsByYear.push({ year, posts: [post] })
  }
}
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="container max-w-[65ch] mx-auto">
    <section class="mb-10 space-y-3">
      <h1>{SITE_TITLE}</h1>
      <p class="text-tx-2">{SITE_DESCRIPTION}</p>
    </section>
    <div class="flex flex-col gap-8">
      {
        postsByYear.map((group) => (
          <section>
            <h2 class="font-mono text-tx-2">{group.year}</h2>
            <ul class="mt-3 flex flex-col gap-3">
              {group.posts.map((post) => (
                <li class="flex justify-between items-center gap-3">
                  <a href={`/${post.data.link}`} class="underline hover:text-cy">
                    {post.data.title}
                  </a>
                  <span class="text-nowrap text-tx-2 font-mono">{format(post.data.pubDate, 'MM/dd')}</span>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>
