---
import '@/styles/index.css'

import { SITE_TITLE } from '@/consts'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
  description?: string | undefined
}

const { title, description } = Astro.props
---

<html class="h-full" lang="zh-Hans">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href="/avatar-cropped.png" />
    <meta name="generator" content={Astro.generator} />

    <link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href="/rss.xml" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <ClientRouter />
  </head>
  <body class="flex flex-col bg-bg text-tx scheme-light dark:scheme-dark px-4 py-8">
    <slot />
  </body>
</html>
